html  {
    max-width: 100%;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    scroll-behavior: smooth;
    
}

body {
    background-image: linear-gradient(to right, #1e242a, #24292f, #292f34, #2f343a, #353a3f);
    font-family: 'Jura';
    font-size: 1rem;
    text-decoration: none !important;
    width: 100%;
    height: 100vh;
}

a {
    text-decoration: none;
}

/* menu */
.container-fluid {
    position: relative;
    padding-right: 0;
    top: -1rem;
    
}

.video-wrap {
    height: 100vh;
    position: relative;
    z-index: -1;
}

#navbarSite.navbar-collapse {
    transition-delay: none;
    position: relative;
    top: -.1rem;
    padding-top: 2rem;
    z-index: 5;
    
}

.video-background {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: -5000000000000;
    opacity: 0.2;
    
}

.navbar {
    background: rgba(0, 0, 0, 0.1);
    z-index: 1000000000000000;
    width: 100vw;
    
}

.navbar .navbar-expand-lg .navbar-dark .fixed-top {
    
    width: 100vw;
}

.nav-link {
    width: 6rem;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    background-position-y: 50%;
    padding-top: 0;
    
}

.navbar-nav {
    position: relative;
    top: -.1rem;
    right: 44.5%;
    overflow: hidden;
    
}

.navbar-brand {
    margin-right: .4rem;
    font-size: 2rem;
    position: relative;
    top: .5rem;
    
}

.navbar-dark .navbar-toggler{
    margin-right: 1.2rem;
}


.active {
    transition: 50ms;
    text-decoration: none;
}

.navbar-dark .navbar-nav .nav-item.active .nav-link {
    color: rgba(37, 190, 182, 1);
    border-bottom: 1px solid currentColor;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(37, 190, 182, 0.5);
    transition: 250ms;
}

.container-fluid {
    position: relative;
    height: 3rem;
    padding-top: 1rem;
    
}

.navbar-toggler {
    visibility: hidden;
}

.navbar-toggler-icon {
    position: absolute;
    visibility: visible;
    transition: 50ms;
    top: -100%;
    right: 0%;
}

.navbar-toggler-icon:active {
    filter: invert(54%) sepia(86%) saturate(370%) hue-rotate(128deg) brightness(98%) contrast(92%);
}

/* menu final */


/* conteudo pagina inicial */
.textoHome {
    
    text-align: center;
    color: white;
    position: absolute;
    top: 40%;
    font-weight: bold;
    min-width: 100%;
    
    
}

.textoHome h1 {                           
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: .1rem;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    padding-bottom: -3rem;
    z-index: 5000;
    line-height: 3rem;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    
}

.textoHome h3 {
    font-size: 1.5rem;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    padding-bottom: 6rem;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: white;
    text-transform: uppercase;
}


#arrow {
    width: 2rem;
    height: 2rem;
    animation: up-down 500ms ease-in-out infinite alternate-reverse both;
    stroke-width: 10%;
    z-index: 50000000000;
    
    
}


#arrow:hover {
    filter:  brightness(0) invert(1);
}




@-webkit-keyframes up-down {
    0% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(-5px);
    }
  }
  
@keyframes up-down {
    0% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(-5px);
    }
}


/* about */
#about {
    width: 100%;
    height: 110vh;
    background-image: linear-gradient(to right, #1e242a, #24292f, #292f34, #2f343a, #353a3f);
    
    font-family: 'Jura';
    overflow: hidden;
    z-index: -1;
    
}




.section-title {
    text-align: center;
    position: relative;
    top: 6rem;
    width: 100%;
}

.section-title h1 {
    color: white;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    font-size: 2.5rem;
    
}



.section-title p {
    color: rgba(255,255,255,.55);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    
    
}

.about .image {
    background: url("normal.png") center center no-repeat;
    background-size: cover;
    height: 31em;
    width: 25em;
    position: relative;
    top: 10rem;
    opacity: 0.5;
    box-shadow:0px 0px 15px #000;
    -webkit-box-shadow:0px 0px 15px #000; 
    -moz-box-shadow:0px 0px 15px #000;
}


.list.col-lg-4 {
    position: relative;
    color: white;
    top: 10rem;
    list-style: none;
    list-style-type: none;
    max-width: 35%;
    margin-left: .5rem;
}

.image.col-lg-4 {
    max-width: 30%;
    height: 32rem;
}

.list li {
    list-style-type: none;
    
}

.list ul {
    margin-left: 0;
    padding-left: 0;
    
}

.list i {
    padding-right: .5rem;
    color: rgba(37, 190, 182, 1);
}

.list span {
    color: rgba(255,255,255,.55);
    font-size: 1rem;
}

.list p{
    font-size: 1rem;
    text-align: justify;
    text-align-last:justify;
    margin-right: 2rem;
    
}

.about .row {
    display: inline-flexbox;
    list-style: none;
    width: 100%;
    height: 100%;
}


.hab.col-lg-4 {
    position:relative;
    top: 9rem;
    max-width: 34%;
}

.hab h2 {
    position: relative;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    max-width: 100%;
    
    
    
}

.hab img {
    width: 26em;
    height: 35em;
    opacity: 0.5;
    
}


#arrow2 {
    position: relative;
    width: 2rem;
    height: 2rem;
    animation: up-down 500ms ease-in-out infinite alternate-reverse both;
    stroke-width: 10%;
    top: 10rem;
    left: 38.5rem;
}

#arrow2:hover {
    filter:  brightness(0) invert(1);
}

/** final about */

#portifolio {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #1e242a, #24292f, #292f34, #2f343a, #353a3f);
}





#portifolio .row {
    position: relative;
    top: 10rem;
    align-items: center;
}

.card {
    padding: 0;
    margin-top: 0rem;
    background: rgba(0, 0, 0, 0.1);
    box-shadow:0px 0px 15px #000;
    -webkit-box-shadow:0px 0px 15px #000; 
    -moz-box-shadow:0px 0px 15px #000;
}

.card-body {
    background: rgba(0, 0, 0, 0.1);
    text-align: center;
    
}



.card-img-top {
    opacity: 0.7;
    
}

h5 {
    color: white;
    font-family: 'Jura';
    font-weight: 500;
}

.card p{ 
    color: rgba(255,255,255,.55);
    font-family: 'Jura';
}



.btn-primary {
    background-color: rgba(37, 190, 182, 0.5);
    border: none;
}

.btn-primary:hover {
    background-color: rgba(37, 190, 182, 1);
}

.btn-primary:active {
    border: none;
    background-color: rgba(37, 190, 182, 0.5);
}

.btn-primary:focus{
    background-color: rgba(37, 190, 182, 0.5);
    border: none;
    outline: none;
    box-shadow: none;
    text-decoration: none;
}

.btn-check {
    outline: none;
}

.card a {
    text-decoration: none;
    outline: none;
    border: none;
    box-shadow: none;
}

#arrow3 {
    position: relative;
    width: 2rem;
    height: 2rem;
    animation: up-down 500ms ease-in-out infinite alternate-reverse both;
    stroke-width: 10%;
    top: 10rem;
    right: 19rem;
}

/* final portifolio (adicionar projetos) */
/* contato */

#contato {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    
    
    
    
}

#contato .bgLeft {
    max-width: 100vw;
    background: url(note.jpg);
    opacity: 0.1;
    margin: 0;
    background-repeat: no-repeat;
    height: 100vh;
    margin-right: 0;
    background-repeat: no-repeat;
}



/*#contato #penis {
    width: 60%;
    text-align: end;
    position: relative;
    margin-top: 1.5rem;
    color: white;
    z-index: 500000000;
    
    
    left: 37%;
    
}*/




#contato p {
    text-align: justify;
    
}

strong {
    position:relative;
    left: 0rem;
    color: white;
}



.fab {
    color: rgba(37, 190, 182, 0.5);
    font-size: 2rem;
    height: 3rem;
    margin-right: .5rem;
    margin-left: .5rem;
    margin-top: .2rem;
}

.fab:hover {
    color: rgba(37, 190, 182, 1);
}



form {
    color: white;
    position: relative;
    top: 20%;
    max-width: 80%;
    align-items: center;
    text-align: center;
    left: 10%;
    font-size: 1.2rem;
    background: rgba(0, 0, 0, 0.2);
    height: 32rem;
}

form label {
    margin-top: 2rem;
    
    
    
}

.form-control {
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    color: white;
    text-align: center;
    max-width: 50%;
    left: 25%;
    position: relative;
    height: 3rem;
    margin-top: .5rem;
    
}

.form-control:focus {
    background-color: rgba(0, 0, 0, 0.1);
    outline: none;
    border: none;
    box-shadow: none;
    color: white;
}

textarea.form-control {
    resize: none;
    height: 10rem;
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 5rem;
    text-align: center;
}

footer p {
    color: white;
}

















































/* MEDIA QUERIES */
@media (max-width: 1399px) {
    #arrow3 {
        visibility: hidden;
    }
}


@media (max-width: 1358px) {
    .navbar-nav {
        position: relative;
        top: -.1rem;
        right: 41%;
    }

    .list.col-lg-4 {
        padding: 0;
    }

    .list.col-lg-4 p {
        margin: 0;
        width: 100%;
        padding: 0;
    }

    .image.col-lg-4 {
        height: 33.6rem;
    }
    #arrow2 {
        visibility: hidden;
    }
}



@media (max-width: 1270px) {
    .hab.col-lg-4 {
        
        left: 31%;
        padding: 0;
        margin: 0;
        top: 15em;
    }

    .hab.col-lg-4 h2 {
        left: 6%;
    }
    
    .list.col-lg-4 {
        left: 20%;
        min-width: 45%;
        font-size: 1rem;
        margin-left: 0;
    }

    .list p {
        margin-right: 0;

    } 
    .section-title h1, .section-title p {
        left: 25%;
    }

    .image.col-lg-4 {
        left: 15%;
        width: 30%;
        height: auto;
    }
    #about {
        width: 100%;
        height: 150vh;
    }

   
}

@media (max-width: 991px) {
    .nav-link {
        background: rgba(0, 0, 0, 0.1);
    }
    .navbar-nav.ms-auto {
        position: relative;
        top: .1rem;
        right: -.1rem;
        margin-right: 1.1rem;
    }
    #navbarSite.navbar-collapse {
        padding-top: 0rem;
        top: -.2rem;
        
    }
    .navbar-brand {
        margin-right: .4rem;
        font-size: 2rem;
        position: relative;
        top: -.3rem;
    }

    .image.col-lg-4 {
        padding: 0;
        min-width: 45%;
        left: 0%;
        height: 40rem;
        top: 11rem;
    }

    .list p{
        font-size: .9rem;
        margin-bottom: 3rem;
    }

    .list.col-lg-4 {
        max-width: 45%;
        left: 5%;
        padding: 0;
        margin: 0;
        font-size: .7rem
    }
    .hab.col-lg-4 img {
        position: relative;
        left: 10%;
    }
    .navbar-toggler-icon {
        margin-right: 1.6rem;
    }
    .hab.col-lg-4 {
        left: 20%;
        top: 12rem;
    }

    .hab.col-lg-4 h2{
        left: 35%;
    }
    .about .image {
        height: 31em;
        width: 25rem;
        
    }

    #arrow2 {
        visibility: hidden;
    }

    #about {
        width: 100%;
        height: 150vh;
    }

    #portifolio {
        height: 150vh;
    }
    .card{
        margin-top: 5rem;
    }
    
    

}

@media (max-width: 768px) {

    
    .textoHome h1 {                           
        font-size: 2rem;
        letter-spacing: .15rem;
        padding-bottom: .5rem;
        line-height: 1em;
    }
    
    .textoHome h3 {
        font-size: 1rem;
        padding-bottom: 6rem;
    }
    .nav-link {
        background: rgba(0, 0, 0, 0.1);
        
    }

    .about .row {
        display: inline-block;
        height: auto;
    }
    .list.col-lg-4 {
        left: 10%;
        max-width: 75%;
        min-width: 0;
        top: 12rem;
        
        
    }
    .list p {
        margin-right: 0;
        max-width: 100%;
    }

    .hab.col-lg-4 h2{
        max-width: 100%;
        left: -2%;
        font-size: 1.2rem;
        margin: 0;
    }

    .image.col-lg-4 img {
        max-width: 100%;
        height: auto;
        
    }
    
    .image.col-lg-4 {
        left: 10%;
        margin: 0;
        padding: 0;
        max-width: 75%;
        
    }

    .section-title {
        left: -2%;
    }

    .hab.col-lg-4{
        left: 4%;
        max-width: 90%;
        margin-top: 2rem;
        
    }
    .hab.col-lg-4 img {
        position: relative;
        max-width: 90%;
        left: 5%;
        
    }

    #about {
        width: 100%;
        height: 200vh;
    }
    #portifolio {
        height: 200vh;
    }

    #contato {
        height: 150vh;
    }
    

}

@media (max-width: 375px) {
    
    .navbar-nav.ms-auto {
        margin-right: 0;
    }
    .navbar-toggler-icon {
        margin-right: 0rem;
    }

    #about {
        width: 100%;
        height: 250vh;
    }
    #portifolio {
        height: 220vh;
    }
    #contato {
        height: 150vh;
    }
    
    
}


/* Final Media */









































































